* {
  margin: 0;
  padding: 0;
}

html, body {
  margin: 0;
  padding: 0;
  background: #f2f2f2;
overflow-x: hidden;
}
.topPanel {
  background-color: #030209;
  height: auto;
  overflow: hidden;
}
.topPanel .leftLinks {
  padding: 1rem 0;
}
.topPanel .leftLinks ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.topPanel .leftLinks ul li {
  vertical-align: middle;
  display: inline;
  padding-right: 1.5rem;
}
.topPanel .leftLinks ul li a {
  vertical-align: middle;
color: #888;
  font-size: 90%;
}
.topPanel .leftLinks ul li a i {
  padding-right: 0.5rem;
}
.topPanel .socialIcons {
  padding: 1rem 2rem;
  text-align: right;
}
.topPanel .socialIcons .smGlobalBtn {
  display: inline-block;
  margin-right: 0.2rem;
  position: relative;
  cursor: pointer;
  width: 26px;
  height: 26px;
  padding: 0px;
  text-decoration: none;
  text-align: right;
  text-align: center;
  color: #fff;
  font-size: 13px;
  font-weight: normal;
  line-height: 2em;
  border-radius: 27px;
  -moz-border-radius: 27px;
  -webkit-border-radius: 27px;
}
.topPanel .socialIcons .facebookBtn {
  background: #efefef;
  color: #686868;
  transition: background 0.5s ease-in-out;
}
.topPanel .socialIcons .facebookBtn:before {
  /* use :before to add the relevant icons */
  font-family: "FontAwesome";
  content: "\f09a";
  /* add facebook icon */
}
.topPanel .socialIcons .facebookBtn:hover {
  color: #fff;
  background: #4060A5;
  border-color: #4060A5;
  /* change the border color on mouse hover */
}
.topPanel .socialIcons .twitterBtn {
  background: #efefef;
  color: #686868;
  transition: background 0.5s ease-in-out;
}
.topPanel .socialIcons .twitterBtn:before {
  font-family: "FontAwesome";
  content: "\f099";
  /* add twitter icon */
}
.topPanel .socialIcons .twitterBtn:hover {
  color: #fff;
  background: #00ABE3;
  border-color: #00ABE3;
}
.topPanel .socialIcons .googleplusBtn {
  background: #efefef;
  color: #686868;
  transition: background 0.5s ease-in-out;
}
.topPanel .socialIcons .googleplusBtn:before {
  font-family: "FontAwesome";
  content: "\f0d5";
  /* add googleplus icon */
}
.topPanel .socialIcons .googleplusBtn:hover {
  color: #fff;
  background: #e64522;
  border-color: #e64522;
}
.topPanel .socialIcons .linkedInBtn {
  background: #efefef;
  color: #686868;
  transition: background 0.5s ease-in-out;
}
.topPanel .socialIcons .linkedInBtn:before {
  font-family: "FontAwesome";
  content: "\f0e1";
  /* add googleplus icon */
}
.topPanel .socialIcons .linkedInBtn:hover {
  color: #fff;
  background: #0084b1;
  border-color: #0084b1;
}

.storeHeader {
  height: auto;
  overflow: hidden;
  background: #FFF;
  padding: 3rem 0;
}
.storeHeader .feedbackInfo {
  margin: 1rem 0;
}
.storeHeader .feedbackInfo h3 {
  font-weight: bold;
  margin: 0.2rem 0;
}
.storeHeader .feedbackInfo p i {
  color: #f0d209;
}
.storeHeader .feedbackInfo span .followButton {
  background: linear-gradient(#5ea923, #4f9a1a);
  text-decoration: none;
  color: #FFF;
  font-weight: bold;
  padding: 0.7rem 1.3rem;
  border-radius: 3px;
}
.storeHeader .feedbackInfo span .followButton i {
  padding-right: 0.5rem;
}

.navSearch {
  background-color: #0f395e;
}
.navSearch nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.navSearch nav ul li {
  display: inline;
}
.navSearch nav ul li a {
  color: #1d6eb6;
  display: inline-block;
  padding: 2.2rem 1rem;
  text-decoration: none;
}
.navSearch nav ul li a:hover {
  background-color: #134674;
}
.navSearch .flipkart-navbar-search {
  margin: 1rem 0;
}
.navSearch .flipkart-navbar-search .flipkart-navbar-input {
  padding: 11px 16px;
  border-radius: 2px 0 0 2px;
  border: 0 none;
  outline: 0 none;
  font-size: 15px;
}
.navSearch .flipkart-navbar-search .flipkart-navbar-button {
  background-color: #ffe11b;
  border: 1px solid #ffe11b;
  border-radius: 0 2px 2px 0;
  color: #565656;
  padding: 10px 0;
  height: 43px;
  cursor: pointer;
}

.slider {
  height: auto;
  overflow: hidden;
  margin-top: 2rem;
  margin-bottom: 3rem;
}
.slider .slider-container {
  height: 350px;
  width: 100%;
  position: relative;
  overflow: hidden;
  text-align: center;
}
.slider .menu {
  position: absolute;
  left: 0;
  z-index: 900;
  width: 100%;
  bottom: 0;
}
.slider .menu label {
  cursor: pointer;
  display: inline-block;
  width: 16px;
  height: 16px;
  background: #fff;
  border-radius: 50px;
  margin: 0 .2em 1em;
}
.slider .menu label:hover {
  background: #ccc;
}
.slider .slide {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 100%;
  z-index: 10;
  padding: 8em 1em 0;
  background-size: cover;
  background-position: 50% 50%;
  transition: left 0s .75s;
  border-radius: 10px;
}
.slider .slide {
  color: #FFF;
}
.slider .slide h1 {
  font-family: 'Dancing Script', cursive;
  width: 60%;
  margin: 0 auto;
  margin-bottom: 1rem;
}
.slider .slide p {
  width: 60%;
  margin: 0 auto;
  font-weight: lighter;
  font-style: italic;
}
.slider [id^="slide"]:checked + .slide {
  left: 0;
  z-index: 100;
  transition: left .65s ease-out;
}
.slider .slide-1 {
  background-image: linear-gradient(to right, rgba(15, 59, 97, 0.7), rgba(255, 255, 27, 0.8)), url("https://source.unsplash.com/t7YycgAoVSw/1600x900");
  background-size: 100%;
}
.slider .slide-2 {
  background-image: linear-gradient(to right, rgba(15, 59, 97, 0.7), rgba(255, 255, 27, 0.8)), url("https://source.unsplash.com/11H1SSVcIxc/1600x900");
  background-size: 100%;
}
.slider .slide-3 {
  background-image: linear-gradient(to right, rgba(15, 59, 97, 0.7), rgba(255, 255, 27, 0.8)), url("https://source.unsplash.com/OlZ1nWLEEgM/1600x900");
  background-size: 100%;
}

/*# sourceMappingURL=piergate.css.map */
#LeftPanel {
background:#FFF;
color: #fff;
width: 260px;
box-shadow: 0px 0px 20px -3px #000;
}
#LeftPanel .v4mid, #LeftPanel .lcat {
background: rgb(255, 255, 255);
color: #103d64;
padding-left: 13px;
padding-right: 13px;
border-bottom-left-radius: 5px;
border-bottom-right-radius: 5px;
}
#LeftPanel a {
color: #103d64;
font-weight:normal;
}
#LeftPanel .v4mid a:hover, LeftPanel .v4mid a:active {
color: #ffe11b;
font-weight:normal;
text-decoration: none;
}
#LeftPanel .ttl {
color: #103d64;
}
#LeftPanel .v4midBox {
border: 0px;
}
#LeftPanel .v4accent {
display:none;
}
#LeftPanel .v4title {
background: url('removed due to ebay's policies') no-repeat scroll 0% 0% rgb(10, 10, 10);
font-size:16px;
padding: 12px 18px 8px 0; /* width + padding = 242
px */
overflow: hidden;
background: #1d1c1a url(/img/ebay/ebay-sidebar-title-bg.png) right top no-repeat;
padding-left:15px;
height: 20px;
border-top-left-radius: 5px;
border-top-right-radius: 5px;
}
#LeftPanel .v4baccent, #LeftPanel .v4vspacer {
display:none;
}
#LeftPanel .v4nl td {
color: #103d64;
}
#LeftPanel .v4hspacer {
display:none;
}
#LeftPanel .v4title font {
font-size:small;
color: #103d64;
letter-spacing: 3px;
}
#LeftPanel .lcat .lev2 li span {
    color: #103d64;
}
#LeftPanel .lcat .lev2 li span.cnt {
    color: rgb(102, 102, 102);
}
#LeftPanel .fs2-fs table.fs2-strp {
    background-color: rgb(50, 50, 50);
    border: 1px solid rgb(100, 100, 100);
}
#LeftPanel .fs2-fs table.fs2-strp td {
    border-left: 1px solid rgb(100, 100, 100);
}
.grid td.gallery {
    
    padding: 0 3rem;
    text-align: center;
}